@model cinema.Models.Abonnement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class = "abonnement">
    <h4>Abonnement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbboQR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbboQR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbboName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbboName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expired)
        </dd>
    </dl>
</div>
 <button class="print btn btn-secondary">
            <strong>Print</strong>
        </button>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

    <script language="javascript">
        
       
        var abonnement = document.querySelector('.abonnement');
        document.querySelector('.print').addEventListener('click', function (){
                             var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
                                           WinPrint.document.write(abonnement.innerHTML);
                                           WinPrint.document.close();
                                           WinPrint.focus();
                                           WinPrint.print();
                        });
    </script>
