@model cinema.Models.LostAndFound

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LostAndFound</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LostObject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LostObject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoundTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoundTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetrievedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetrievedTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
