@model cinema.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>    @Html.DisplayFor(model => model.Name) (@Html.DisplayFor(model => model.ReleaseYear))</h1>

<table class="table">
    <thead>
    <tr>
        <th style="width: 10%">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th style="width: 10%">
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th style="width: 10%">
            @Html.DisplayNameFor(model => model.Cast)
        </th>
        <th style="width: 10%">
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th style="width: 10%">
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th style="width: 10%">
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th style="width: 10%">
            @Html.DisplayNameFor(model => model.ThreeD)
        </th>
    </tr>
    </thead>
    <tbody align="center" align-text="left">
    <tr>
        <td style="width: 10%">
            @Html.DisplayFor(model => model.Description)
        </td>
        <td style="width: 10%">
            @Html.DisplayFor(model => model.Director)
        </td>
        <td style="width: 10%">
            @Html.DisplayFor(model => model.Cast)
        </td>
        <td style="width: 10%">
            @Html.DisplayFor(model => model.Length)
        </td>
        <td style="width: 10%">
            @Html.DisplayFor(model => model.Genre)
        </td>
        <td style="width: 10%">
            @Html.DisplayFor(model => model.Language)
        </td>
        <td style="width: 10%">
            @Html.DisplayFor(model => model.ThreeD)
        </td>
        <td style="width: 30%">
            <img src= "@Html.DisplayFor(model => model.Poster)" alt="Sample Image" style="height:500px;width:300px;"/>
        </td>
    </tr>
    </tbody>
