@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Kaartjes</h2>
<hr>

<div>Aantal kaartjes <strong>@ViewBag.quantity</strong></div>
<i>Korting: <strong>€@ViewBag.discount </strong></i><br/>
<i>Popcorn: <strong>€ @ViewBag.popcorn </strong></i><br/>
<hr>
<h5>Prijs <strong>€ @ViewBag.OrderCost</strong></h5> <br>


<form method="post" asp-action="create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" value="@ViewBag.showId" name="showId">
    <input type="hidden" value="@ViewBag.quantity" name="quantity">
    <input type="hidden" value="@ViewBag.childDiscount" name="childDiscount">
    <input type="hidden" value="@ViewBag.studentDiscount" name="studentDiscount">
    <input type="hidden" value="@ViewBag.seniorDiscount" name="seniorDiscount">
    <input type="hidden" value="@ViewBag.popcorn" name="popcorn">
    <div class="form-group">
        <input type="submit" value="Reserveren" class="btn btn-primary"/>
    </div>
</form>